@model  SignalR.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css/site")
    @Styles.Render("~/Content/admin")
    @Styles.Render("~/Content/animate")
</head>
<body class="login">
    <div>
        <a class="hiddenanchor" id="signin"></a>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, null))
                    {
                        <h1>Login</h1>
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })

                        <div>
                            @Html.ValidationMessageFor(model => model.UserName)
                            @Html.TextBoxFor(model => model.UserName, new
                       {
                           @class = "form-control",
                           @placeholder = "UserName"
                       })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.Password)
                            @Html.PasswordFor(model => model.Password, new
                       {
                           @class = "form-control",
                           @placeholder = "Password"
                       })
                        </div>
                        <div class="clearfix">
                            <input type="submit" class="btn btn-default submit" value="Login" />
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <div>
                                <h1><i class="fa fa-h-square"></i> Healthy</h1>
                                <p>©2016 All Rights Reserved</p>
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/site")
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>